@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.App-header{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  box-shadow: 2px 2px 2px #999;
  background-color: white;
}

h2{
  padding-top: 10px;
  letter-spacing: 4px;
  font-weight: bolder;
  color: #9400D3;
  text-shadow: 2px 1px 1px #999;
}

.App-header nav{
  display: flex;
  justify-content: space-between;
  
  font-size: 18px;
}

.navbar-item{
  margin-right: 50px;
  padding-top: 10px;
}

.btn{
  border: 1px solid #dfadf5;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.App{
  background-image: url(https://wallpaperaccess.com/full/1966832.jpg);
  background-size: cover;
  height: 100vh;
}

.columns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  opacity: 0.8;
}

